@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
}
.top-header{
	width: 100%;
	overflow: hidden;
	background-color: black;
	padding-bottom: 5px;
	overflow: hidden;
}
.top{
	width: 80%;
	margin: auto;
	padding: 10px;
}
.logo{
	width: 30%;
	float: left;
}
.logo img{
	width: 50%;
	height: 100px;
}
.abs{
	width: 70%;
	float: left;
}
.abs img{
	float: right;
	height: 100px;
}
.top-meun{
	width: 100%;
	overflow: hidden;
	background-color: red;
}
.meun{
	width: 80%;
	margin: auto;
}
.meun ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.meun ul li{
	float: left;
}
.meun ul li a{
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	font-family: "Khmer OS freehand";
	font-size: 15px;
	color: white;
}
.meun ul li a:hover{
	background-color: firebrick;
	transition: 0.10s;
	color: whitesmoke;
}
.meun ul li a:focus{
	color: gold;
}
.body{
	width: 80%;
	margin: auto;
	height: 610px;
	padding-top: 10px;
}
.box1{
	width: 70%;
	float: left;
	height: 300px;
}
.box1-1{
	width: 60%;
	height: 300px;
	float: left;
}
.box1-1 img{
	width: 100%;
	height: 300px;
	cursor: pointer;
}
.box1-2{
	width: 40%;
	float: left;
	height: 300px
}
.box1-2 img{
	width: 100%;
	height: 300px;
	float: left;
	cursor: pointer;
}
.box2{
	width: 28%;
	float: left;
	height: 297px;
	margin-left: 2%;
}
.box2 img{
	width: 100%;
	height: 297px;
	cursor: pointer;
}